*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body{
          background-color: whitesmoke;
          font-family: sans-serif;
}

.container{
          display: block;
          text-align: center;
          margin-top: 200px;
}

.container h1{
          font-size: 40px;
          margin-bottom: 50px;
          -webkit-text-stroke: #015e56 3px;
          color: transparent;
}

.boxes{
          display: flex;
          justify-content: center;
          align-items: center;
}

#title{
          display: block;
}

.box{
          height: 150px;
          width: 150px;
          border: 2px solid #212121;  
          margin: 5px;     
}

.description{
          margin-top: 30px;
          font-size: 30px;
          font-weight: bold;
}

#blue{
          background-color: blue;
}

#red{
          background-color: red;
}

#yellow{
          background-color: yellow;
}

#purple{
          background-color: purple;
}

#green{
          background-color: green;
}
#white{
          background-color: white;
}